@font-face {
    font-family: 'Borsok';
    src: url('/assets/fonts/boorsok.woff') format('woff2'),
        url('/assets/fonts/boorsok.otf') format('opentype');
    /* fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Improves loading performance */
}

h1 {
    font-family: 'Borsok', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    --primary-white: #FFFEFA;
    --primary-black: #010203;
    background-color: var(--primary-white);
    color: var(--primary-black)
}

.cutoff-text__title {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    /* Standard line-clamp for compatibility */
}


.cutoff-text__description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}

svg {
    width: 6em;
}

/* Below are custom svg classes imported from Adobe Illustrator */
.st0 {
    stroke-width: 3.71px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
    fill: none;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6 {
    stroke: #010101;
    stroke-miterlimit: 10;
}

.st1 {
    stroke-width: 6.67px;
}

.st2 {
    stroke-width: 6.37px;
}

.st7 {
    opacity: .94;
}

.st3 {
    stroke-width: 7.73px;
}

.st8,
.st6 {
    fill: #010101;
}

.st4,
.st6 {
    stroke-width: 4.78px;
}

.st5 {
    stroke-width: 2.39px;
}

/* desktop - bootstrap lg */
@media(min-width: 992px) {
    .navbar-grid-container {
        display: grid !important;
        grid-template-columns: 1fr auto 1fr !important;
        align-items: center !important;
    }

    .navbar-grid-container > div:nth-child(1) {
        justify-self: start;
        
    }

    .navbar-brand {
        justify-self: center;
        align-self: center;
        margin-right: 0 !important;
        margin-left: 0 !important;
        /* Overriding Bootstrap's mx-auto */
    }

    .navbar-grid-container > div:last-child(1) {
        justify-self: end;
    }
}

/* CSS grid standard layout for Shop page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-row: 2 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}