@font-face {
    font-family: 'Borsok';
    src: url('/assets/fonts/boorsok.woff') format('woff2'),
        url('/assets/fonts/boorsok.otf') format('opentype');
    /* fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Improves loading performance */
}

:root {
    --primary-white: #FFFEFA;
    --primary-black: #010203;
    --white-alt-creamy: #FFF9F9;
    --white-alt-yellowish: #FFFDF7;
    --soft-cta: #F2CAB6;

    --button-primary: #8a6c3d;
    --button-primary-hover:#3e301a;
    --button-secondary: #a08251;
    --button-secondary-hover:#695331;

    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-white);
}

/* General Styles */
/* This way override Bootstrap defaults */
body * {
    color: var(--primary-black);
    
    text-align: justify;
    line-height: 1.406;
    letter-spacing: 0.005em;

    
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
    
}

/* Fonts and responsive font sizes */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Borsok', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
h1, h2 {
    text-align: center
}
h1 {
    /* 
    - clamp creates a value that can go and shrink
    - Never goes beyond min or max value, always stays in-between
    - Combining vw with zoomable unit (rem) for accessibility
    */
    font-size: clamp(1.8rem, 7vw + 1rem, 6rem);
}

h2 {

}

h3 {
    
}

h4 {

}

h5 {

}

p {

}

strong {

}

small {

}

b, strong {
    font-weight: 400;
}

span {
    color: var(--primary-white);
}

/* General Styles for components like buttons */
.btn-primary {
    background-color: var(--button-primary);
    color: var(--primary-white);
    border-color: var(--button-primary-hover)
}
.btn-primary:hover {
    background-color: var(--button-primary-hover);
}

.btn:first-child:active {
    background-color: var(--button-primary-hover);
}

.btn-secondary {
    background-color: var(--button-secondary);
    border-color: var(--button-secondary-hover);
}

.btn-secondary:hover {
    background-color: var(--button-secondary-hover);
}

.btn-secondary:first-child:active {
    background-color: var(--button-secondary-hover);
}

/* Below are custom svg classes imported from Adobe Illustrator and SVG settings */
svg {
    width: 6em;
}

.st0 {
    stroke-width: 3.71px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
    fill: none;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6 {
    stroke: #010101;
    stroke-miterlimit: 10;
}

.st1 {
    stroke-width: 6.67px;
}

.st2 {
    stroke-width: 6.37px;
}

.st7 {
    opacity: .94;
}

.st3 {
    stroke-width: 7.73px;
}

.st8,
.st6 {
    fill: #010101;
}

.st4,
.st6 {
    stroke-width: 4.78px;
}

.st5 {
    stroke-width: 2.39px;
}

/* 
    TOP-DOWN APPROACH TO STYLING
    header, main, footer    
*/
.banner {
    font-family: "Roboto", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* 1.167vw because p is 6 times less h1 */
    font-size: clamp(1rem, 1.167vw + 1rem, 2.5rem);
    
    text-transform: uppercase;
    text-align: center;
    background-color: var(--primary-white);
}

nav {
    background-color: var(--white-alt-creamy);
}





/* SHOP page styles */

/* CSS grid standard layout for Shop page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-row: 2 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}

/* This is for the products to display nicely on shop page */

.cutoff-text__title {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    /* Standard line-clamp for compatibility */
}


.cutoff-text__description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}