@font-face {
    font-family: 'Borsok';
    src: url('/assets/fonts/boorsok.woff') format('woff2'),
        url('/assets/fonts/boorsok.otf') format('opentype');
    /* fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Improves loading performance */
}

:root {
    --primary-white: #FFFEFA;
    --primary-black: #010203;
    --white-alt-creamy: #FFF9F9;
    --white-alt-yellowish: #FFFDF7;
    --soft-cta: #F2CAB6;
    --stroke: #AEAEAE;

    --banner: #eebdc8;

    --button-primary: #695330;
    --button-primary-hover:#3e301a;
    --button-secondary: #342e26;
    --button-secondary-hover:#201d19;

    --basic-font: 'Segoe UI', serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-borsok: 'Borsok';
    --main-roboto: 'Roboto Serif';
    --main-alex: 'Alex Brush';

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    

    --gallery-max-width: 500px;

    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white-alt-creamy);
}

main > * {
    margin: 0 0 2rem;
}

/* General Styles */
/* This way override Bootstrap defaults */
body * {
    color: var(--primary-black);
    
    text-align: justify;
    line-height: 1.406;
    letter-spacing: 0.005em;

    
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
    
}

/* This class only concerns itself with max-widths */
.section {
    width: 100%;
    max-width: var(--gallery-max-width);
}

/* Fonts and responsive font sizes */
/* one basic set with Borsok */
/* another set with Roboto Serif */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-borsok), var(--basic-font);
}

.roboto {
    font-family: var(--main-roboto), var(--basic-font);
}

.alex {
    font-family: var(--main-alex), var(--basic-font);
}

h1, h2 {
    text-align: center
}

h1 {
    /* 
    - clamp creates a value that can go and shrink
    - Never goes beyond min or max value, always stays in-between
    - Combining vw with zoomable unit (rem) for accessibility
    or keep 1.8 and 4
    */
    font-size: clamp(2.5rem, 7vw + 1rem, 5rem);
}

h2 {
    font-size: clamp(2rem, 4vw + 1rem, 3.5rem);
}

h3 {
    font-size: clamp(1.75rem, 3vw + 1rem, 2.5rem);
    padding-top: 1.5rem;
}

h4 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h5 {
    font-size: clamp(1.25rem, 1.5vw + 1rem, 1.5rem);
}

p, .nav-link {
    font-size: clamp(1rem, 1vw + 1rem, 1.25rem);
}

.hero__heading {
    font-size: clamp(2.5rem, 7vw + 1rem, 4rem);
}

.display-paragraph {
    /* equivalent to h5 */
    font-size: clamp(1.25rem, 1.5vw + 1rem, 1.5rem);
    font-weight: 400;
}

.display-heading {
    /* equivalent to h4 */
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

small {
    font-size: clamp(0.875rem, 1vw + 1rem, 1rem);
}

b, strong {
    font-weight: 400;
}

em {
    font-weight: 700;
}

span {
    color: var(--primary-white);
}

body q {
    display: block;
    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

/* General Styles for components like buttons */
button {
    border: none;
    padding: 0;
    background-color: transparent;
}


.btn-primary {
    min-width: 100px;
    background-color: var(--button-primary);
    color: var(--primary-white);
    border-color: var(--button-primary-hover)
}
.btn-primary:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}

.btn:first-child:active {
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}

.btn-secondary {
    min-width: 100px;
    background-color: var(--button-secondary);
    border-color: var(--button-secondary-hover);
}

.btn-secondary:hover {
    background-color: var(--button-secondary-hover);
    border-color: var(--button-secondary-hover);
}

.btn-secondary:first-child:active {
    background-color: var(--button-secondary-hover);
    border-color: var(--button-secondary-hover);
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--primary-white);
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}



/* Below are custom svg classes imported from Adobe Illustrator and SVG settings */
#logo {
    width: clamp(7.5em, 15vw + 1rem, 11em);
}

.st0 {
    stroke-width: 3.71px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
    fill: none;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6 {
    stroke: #010101;
    stroke-miterlimit: 10;
}

.st1 {
    stroke-width: 6.67px;
}

.st2 {
    stroke-width: 6.37px;
}

.st7 {
    opacity: .94;
}

.st3 {
    stroke-width: 7.73px;
}

.st8,
.st6 {
    fill: #010101;
}

.st4,
.st6 {
    stroke-width: 4.78px;
}

.st5 {
    stroke-width: 2.39px;
}

/* 
    TOP-DOWN APPROACH TO STYLING
    header, main, footer    
*/

/* HEADER */
.banner {
    background-color: var(--banner);
    font-family: var(--basic-font);
    /* 1.167vw because p is 6 times less h1 */
    font-size: clamp(1rem, 1.167vw + 1rem, 2.5rem);
    
    text-transform: uppercase;
    text-align: center;

}

nav {
    background-color: var(--white-alt-creamy);
}

.navbar>.container-fluid {
    flex-wrap: nowrap;
}


/* HERO */
.hero {
    background-image: url('/assets/index/batFront.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

    
    
}

.mask {
    width: 100%;
    background-color: rgb(0 0 0 / 65%);
}

.hero > .mask > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    
    --min: 320px;
    --calc: 50vw;
    --max: 1080px;
    height: clamp(var(--min), var(--calc), var(--max));
}

.hero > .mask > div > * {
    color: var(--primary-white);

    /* Simply copied bootstrap properties from .row > * rule */
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.hero > .mask > div > button > a {
    font-family: var(--main-borsok), var(--basic-font);
    padding: clamp(0.5rem, 1vw + 0.5rem, 1.5rem) clamp(1rem, 2vw + 0.5rem, 2rem);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hero > .mask > div > button > a:hover {
    transform: translateY(-3px);
}


/* Section for GALLERY of images CSS (more in media queries) */

.main__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main__text > * {
    /* Simply copied bootstrap properties from .row > * rule */
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.row {
    margin-top: 0; 
    /* Negative margins caused overflow */
}

.main__gallery-wrapper img {

    width: 100%;
    
    /* must set a specific size for object-fit to work */
    height: 300px;
    object-fit: cover;
    object-position: center;

    border: 1px solid var(--stroke);
    border-radius: 8px;
}



/* Positions these images higher */
picture > .img-move-upper {
    object-position: 50% 85%;
}

/* FOOTER */
footer {
    font-family: var(--main-roboto), var(--basic-font);
}

footer #subscribe {
    font-family: var(--basic-font);
}

footer svg  {
    width: clamp(1rem, 5vw + 1rem, 2rem);
    height: clamp(1rem, 5vw + 1rem, 2rem);
}

/* SHOP page styles */

/* CSS grid standard layout for Shop page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-row: 2 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}

/* This is for the products to display nicely on shop page */

.cutoff-text__title {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    /* Standard line-clamp for compatibility */
}


.cutoff-text__description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}

/* About Us ordered list */
.container ol li::marker {
    /* size same as h3 = a bit smaller than h4 */
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

/* Media queries applied after all styles */
/* 576px - bootstrap sm */
@media(min-width: 576px) {
    .section {
        /* Simply changing the variable value and it's automatically applied from base styles */
        --gallery-max-width: 700px;
    }
}

@media (min-width: 768px) {
    .section {
        --gallery-max-width: 900px;
    }
}

@media (min-width: 992px) {
    .section {
        --gallery-max-width: 1000px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        
    }

    .navbar-grid-container {
    display: grid !important;
    grid-template-columns: 1fr auto 1fr !important;
    align-items: center !important;
}

header > .navbar > .container-fluid > .left-section {
    grid-column: 1 / 2 !important;
    grid-row: 1;
    justify-self: start;
}

.navbar-brand {
    grid-column: 2 / 3 !important;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    /* Overriding Bootstrap's mx-auto */
}

.right-section {
    grid-column: 3 / 4 !important;
    grid-row: 1;
    justify-self: end;
}
}