@font-face {
    font-family: 'Borsok';
    src: url('/assets/fonts/boorsok.woff') format('woff2'),
         url('/assets/fonts/boorsok.otf') format('opentype'); /* fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Improves loading performance */
}

h1 {
    font-family: 'Borsok', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    --primary-white: #FFFEFA;
    --primary-black: #010203;
    background-color: var(--primary-white);
    color: var(--primary-black)
}

.cutoff-text__title {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    /* Standard line-clamp for compatibility */
}


.cutoff-text__description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}

svg {
    width: 3em;
}

/* Below are custom svg classes imported from Adobe Illustrator */
.st0 {
    stroke-width: 6.19px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
    stroke: #010101;
    stroke-miterlimit: 10;
}

.st0,
.st1,
.st3,
.st4,
.st5 {
    fill: none;
}

.st1 {
    stroke-width: 9.63px;
}

.st2,
.st4 {
    stroke-width: 12.38px;
}

.st2,
.st6 {
    fill: #010101;
}

.st3 {
    stroke-width: 16.51px;
}

.st5 {
    stroke-width: 20.04px;
}