@font-face {
    font-family: 'Borsok';
    src: url('/assets/fonts/boorsok.woff') format('woff2'),
        url('/assets/fonts/boorsok.otf') format('opentype');
    /* fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Improves loading performance */
}

:root {
    --primary-white: #FFFEFA;
    --primary-black: #010203;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;

    --white-alt-creamy: #FFF9F9;
    --white-alt-yellowish: #FFFDF7;
    --soft-cta: #F2CAB6;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white-alt-yellowish);
}

/* General Styles */
/* This way override Bootstrap defaults */
body * {
    color: var(--primary-black);
    
    text-align: justify;
    line-height: 1.406;
    letter-spacing: 0.005em;

    font-family: "Roboto Serif", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
    
}

/* Fonts and responsive font sizes */
h1 {
    font-family: 'Borsok', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* 
    - clamp creates a value that can go and shrink
    - never goes beyond min or max value, always stays in-between
     */
    /* Combine vw with zoomable unit (rem) for accessibility */
    font-size: clamp(2rem, 7vw + 1rem, 6rem);
}

h2 {

}

h3 {
    
}

h4 {

}

h5 {

}

p {

}

strong {

}

small {

}

/* This is for the products to display nicely on shop page */

.cutoff-text__title {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    /* Standard line-clamp for compatibility */
}


.cutoff-text__description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}



/* Below are custom svg classes imported from Adobe Illustrator and SVG settings */
svg {
    width: 6em;
}

.st0 {
    stroke-width: 3.71px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
    fill: none;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6 {
    stroke: #010101;
    stroke-miterlimit: 10;
}

.st1 {
    stroke-width: 6.67px;
}

.st2 {
    stroke-width: 6.37px;
}

.st7 {
    opacity: .94;
}

.st3 {
    stroke-width: 7.73px;
}

.st8,
.st6 {
    fill: #010101;
}

.st4,
.st6 {
    stroke-width: 4.78px;
}

.st5 {
    stroke-width: 2.39px;
}

/* More specific styles for the smallest screens - Bootstrap extra small of <576px */
/* CSS grid overriding bootstrap for centering the nav */
.navbar-grid-container {
    display: grid !important;
    grid-template-columns: 1fr auto 1fr !important;
    align-items: center !important;
}

.navbar-grid-container > div:nth-child(1) {
    justify-self: start;
    
}

.navbar-brand {
    justify-self: center;
    align-self: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    /* Overriding Bootstrap's mx-auto */
}

.navbar-grid-container > div:last-child(1) {
    justify-self: end;
}



/* CSS grid standard layout for Shop page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-row: 2 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}