<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#ffffff"> <!-- Sets the color of the top bar in mobile browsers -->
<meta name="description" content="{{head.description}}">
<meta name="description" content="{{head.keywords}}">
<meta name="robots" content="index, follow"> <!-- Tells browsers to index the page and follow its links -->

<!-- Open Graph tags for sharing on social media -->
<meta property="og:title" content="Rocaille shop"> <!-- Used as a headline in Social post -->
<meta property="og:description" content="The best weave beads jewellery for yourself and close ones">
<meta property="og:type" content="website"> <!-- Type of content -->

<title>{{head.title}}</title>
<link rel="canonical" href="index.html">
<!-- Prevents duplicate issues by specifying the preferred version of a page -->

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<!-- CDN for bootstrap -->

<link rel="stylesheet" href="/code/styles/styles.css">
<!-- Custom CSS -->