<header>
        <div class="container-fluid banner">
            <strong>Valentine's gifts — <em>free delivery over €50</em></strong>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid navbar-grid-container">
                <!-- 1. Left Section (Mobile Toggler + Desktop Menu) -->
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>

                <!-- 2. Center Section (Brand Logo and Name) -->
                <!-- mx-auto is needed for mobile centering, Grid handles it on desktop -->
                <a href="/" class="navbar-brand mx-auto">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="logo" data-name="logo" xmlns="http://www.w3.org/2000/svg" version="1.1"
                        viewBox="0 0 283.46 283.46">
                        <!-- Generator: Adobe Illustrator 29.6.1, SVG Export Plug-In . SVG Version: 2.1.1 Build 9)  -->
                        <path class="st8"
                            d="M133.13,154.19l-7.46-7.22c-1.37-1.32-.43-3.63,1.47-3.63h14.91c1.9,0,2.84,2.31,1.47,3.63l-7.46,7.22c-.82.79-2.12.79-2.94,0Z" />
                        <path class="st4"
                            d="M90.47,97.64c-3.1,3.18-5.74,6.69-7.81,10.47-1.58,2.86-2.83,5.88-3.73,9.02-1.05,3.68-1.61,7.52-1.61,11.47,0,26.82,25.65,48.56,57.29,48.56s57.29-21.74,57.29-48.56c0-24.23-20.94-44.33-48.33-47.97-2.92-.39-5.91-.59-8.96-.59s-6.04.2-8.96.59c-6.28.84-12.23,2.54-17.65,4.96" />
                        <ellipse class="st3" cx="72.15" cy="85.1" rx="8.44" ry="8.19" />
                        <path class="st2"
                            d="M78.93,117.12c-1.5,1.03-3.33,1.63-5.3,1.63-5.08,0-9.2-4-9.2-8.93s4.12-8.93,9.2-8.93c4.48,0,8.21,3.1,9.03,7.21" />
                        <path class="st4" d="M90.47,97.64c4.82-4.94,10.78-9.05,17.53-12.06" />
                        <path class="st6"
                            d="M107.99,85.58c-6.75,3.01-12.7,7.12-17.53,12.06-1.67-1.84-2.68-4.27-2.68-6.92,0-5.79,4.83-10.48,10.8-10.48,4.04,0,7.56,2.15,9.41,5.34Z" />
                        <path class="st2"
                            d="M186.17,107.64c.82-4.11,4.55-7.21,9.03-7.21,5.08,0,9.2,4,9.2,8.93,0,4.94-4.12,8.93-9.2,8.93-1.97,0-3.8-.6-5.3-1.63" />
                        <path class="st6"
                            d="M161.9,85.11c6.75,3.01,12.7,7.12,17.53,12.06,1.67-1.84,2.68-4.27,2.68-6.92,0-5.79-4.83-10.48-10.8-10.48-4.04,0-7.56,2.15-9.41,5.34Z" />
                        <path class="st8"
                            d="M110.03,116.29h-2.34c-3.69,0-7.04,1.49-9.46,3.91-2.41,2.42-3.91,5.76-3.91,9.46,0,7.38,5.98,13.37,13.37,13.37h11.28c2.45,0,4.43-1.99,4.43-4.44v-8.93c0-7.39-5.98-13.37-13.37-13.37ZM111.04,140.55c-5.18,0-9.38-4.2-9.38-9.38s4.2-9.38,9.38-9.38,9.38,4.2,9.38,9.38-4.2,9.38-9.38,9.38Z" />
                        <path class="st0"
                            d="M143.8,77.66c0,4.9-4.15,8.93-9.2,8.93s-9.2-4.03-9.2-8.93,4.15-8.93,9.2-8.93,9.2,4.03,9.2,8.93Z" />
                        <path class="st5" d="M116.35,34.94s-5.61,39.35,17.55,39.36c24.31.01,19.24-39.36,19.24-39.36" />
                        <path class="st8"
                            d="M170.45,120.2c-2.42-2.42-5.77-3.91-9.46-3.91h-2.34c-7.39,0-13.37,5.98-13.37,13.37v8.93c0,2.45,1.98,4.44,4.43,4.44h11.28c7.39,0,13.37-5.99,13.37-13.37,0-3.7-1.5-7.04-3.91-9.46ZM157.6,140.55c-5.18,0-9.38-4.2-9.38-9.38s4.2-9.38,9.38-9.38,9.38,4.2,9.38,9.38-4.2,9.38-9.38,9.38Z" />
                        <ellipse class="st3" cx="197.27" cy="84.57" rx="8.44" ry="8.19" />
                        <g>
                            <path class="st7"
                                d="M7.89,216.03v-19.04c0-.89.3-1.58.9-2.07.6-.49,1.33-.74,2.2-.74h7.45c2.75,0,4.96.7,6.62,2.09,1.66,1.39,2.49,3.24,2.49,5.54,0,1.83-.56,3.36-1.68,4.58-.85.92-1.95,1.6-3.29,2.02-.59.18-.76.93-.33,1.36l4.35,4.25c.44.41.76.81.97,1.19.21.38.32.79.32,1.22,0,.57-.23,1.1-.69,1.61-.61.66-1.44.99-2.48.99-.76,0-1.32-.1-1.68-.29-.36-.2-.78-.56-1.25-1.08l-6.21-7.1c-.49-.56-1.42-.22-1.43.53l-.05,4.96c0,.96-.29,1.7-.86,2.21-.57.51-1.32.77-2.24.77s-1.7-.25-2.26-.75c-.56-.5-.84-1.24-.84-2.22ZM14.09,203.97c0,.45.36.81.81.81h3.27c1,0,1.77-.26,2.33-.79.56-.52.84-1.19.84-1.99s-.3-1.45-.9-1.93c-.6-.49-1.36-.73-2.28-.73h-3.27c-.45,0-.81.36-.81.81v3.81Z" />
                            <path class="st7"
                                d="M57.69,206.48c0-3.77,1.24-6.85,3.71-9.25,2.47-2.4,5.73-3.59,9.79-3.59,2.24,0,4.08.27,5.51.82,1.8.68,2.71,1.71,2.71,3.08,0,.7-.25,1.32-.74,1.86-.49.54-1.14.81-1.93.81-.25,0-1.25-.26-2.99-.79-.92-.28-1.73-.42-2.41-.42-2.34,0-4.12.76-5.35,2.29-1.1,1.37-1.64,3.1-1.64,5.18s.57,3.81,1.7,5.2c1.13,1.39,2.72,2.09,4.77,2.09,1.27,0,2.36-.13,3.26-.38.86-.24,1.76-.49,2.69-.76.08-.02.17-.04.26-.03,1,.03,1.73.37,2.17,1.03.31.46.47.98.47,1.57,0,1.39-1,2.46-2.99,3.21-1.63.61-3.49.93-5.58.94-4.16,0-7.45-1.26-9.89-3.78-2.31-2.37-3.48-5.41-3.49-9.1Z" />
                            <path class="st7"
                                d="M80.76,215.42s.01-.05.02-.07c.12-.47.36-1.17.74-2.11l5.97-14.54c.71-1.76,1.32-2.95,1.83-3.56.85-1,1.95-1.5,3.32-1.5,1.12,0,2.05.3,2.79.89.74.59,1.56,1.98,2.45,4.18l5.95,14.54c.41.98.67,1.69.77,2.12.1.43.15.88.15,1.34,0,.71-.27,1.27-.8,1.68-.53.41-1.25.62-2.16.62s-1.67-.25-2.18-.76c-.41-.39-.76-1.06-1.06-2l-.58-1.66c-.11-.33-.42-.55-.77-.55h-9.03c-.35,0-.66.22-.77.55l-.58,1.66c-.34.92-.69,1.58-1.06,1.97-.51.53-1.24.79-2.19.79-.01,0-.03,0-.04,0-1.85-.01-3.22-1.79-2.79-3.59ZM90.63,208.88h4.18c.56,0,.95-.55.77-1.08l-1.98-5.8c-.25-.72-1.26-.74-1.53-.03l-2.2,5.8c-.2.53.19,1.1.76,1.1Z" />
                            <path class="st7"
                                d="M107.03,216.03v-19.08c0-.96.29-1.69.86-2.21s1.32-.77,2.24-.77,1.7.25,2.26.75c.56.5.84,1.24.84,2.22v19.08c0,.96-.29,1.69-.87,2.21s-1.32.77-2.23.77-1.7-.25-2.26-.75-.84-1.24-.84-2.22Z" />
                            <path class="st7"
                                d="M116.53,216v-19.04c0-.96.29-1.69.87-2.21s1.32-.77,2.23-.77,1.7.25,2.26.75.84,1.24.84,2.23v15.87c0,.45.36.81.81.81h5.85c1,0,1.76.23,2.3.68s.8,1.09.8,1.89-.28,1.43-.83,1.89c-.55.46-1.31.7-2.27.7h-9.76c-.85,0-1.57-.25-2.18-.75-.61-.5-.91-1.19-.91-2.06Z" />
                            <path class="st7"
                                d="M134.71,216v-19.04c0-.96.29-1.69.87-2.21s1.32-.77,2.23-.77,1.7.25,2.26.75.84,1.24.84,2.23v15.87c0,.45.36.81.81.81h5.85c1,0,1.76.23,2.3.68s.8,1.09.8,1.89-.28,1.43-.83,1.89c-.55.46-1.31.7-2.27.7h-9.76c-.85,0-1.57-.25-2.18-.75-.61-.5-.91-1.19-.91-2.06Z" />
                            <path class="st7"
                                d="M152.48,216v-19.01c0-.89.3-1.58.9-2.07.6-.49,1.33-.74,2.2-.74h9.48c1,0,1.76.23,2.3.68.54.46.8,1.09.8,1.92s-.27,1.43-.8,1.88c-.54.46-1.3.68-2.3.68h-5.57c-.45,0-.81.36-.81.81v2.87c0,.45.36.81.81.81h5.03c.97,0,1.73.23,2.28.69.55.46.82,1.09.82,1.89,0,1.73-1.02,2.59-3.06,2.59h-5.07c-.45,0-.81.36-.81.81v3c0,.45.36.81.81.81h5.79c1,0,1.76.23,2.3.68s.8,1.09.8,1.89-.27,1.43-.82,1.89c-.55.46-1.31.7-2.28.7h-9.71c-.85,0-1.57-.25-2.18-.75-.61-.5-.91-1.19-.91-2.06Z" />
                            <path class="st7"
                                d="M171.24,216.53c0-.75.32-1.42.97-1.99s1.43-.86,2.35-.86,1.67.28,2.33.84.99,1.23.99,2-.33,1.44-.99,1.99c-.66.56-1.44.83-2.33.83s-1.71-.27-2.35-.82-.97-1.22-.97-2Z" />
                            <path class="st7"
                                d="M180.31,215.31c0-.82.25-1.53.77-2.11s1.23-.87,2.15-.87c.36,0,1.27.24,2.72.72,1.45.48,2.77.72,3.97.72,1.1,0,1.92-.23,2.47-.69.55-.46.83-1,.83-1.64,0-.96-.82-1.71-2.46-2.26-.31-.11-1.46-.46-3.43-1.04-2.65-.76-4.4-1.66-5.25-2.69-.85-1.04-1.28-2.35-1.28-3.95,0-2.55.98-4.54,2.95-5.97,1.77-1.27,4.02-1.91,6.76-1.91h.07c2.45,0,4.35.34,5.7,1.01,1.35.67,2.03,1.57,2.03,2.68,0,.76-.25,1.39-.77,1.89s-1.18.75-2,.75c-.49,0-1.47-.21-2.97-.62-.85-.22-1.61-.34-2.3-.35-.85,0-1.53.19-2.05.57-.52.38-.78.86-.78,1.45,0,.7.7,1.28,2.11,1.72,1.41.45,2.64.83,3.71,1.15,2.04.59,3.55,1.33,4.54,2.22,1.38,1.22,2.07,2.88,2.07,5,0,2.72-1.01,4.8-3.02,6.24-1.87,1.33-4.32,1.99-7.37,1.99-2.19,0-4.17-.32-5.94-.97-2.14-.78-3.21-1.81-3.21-3.08Z" />
                            <path class="st7"
                                d="M202.26,216.03v-19.08c0-.96.29-1.69.86-2.21s1.32-.77,2.24-.77,1.7.25,2.26.75c.56.5.84,1.24.84,2.22v5.84c0,.45.36.81.81.81h9.91c.45,0,.81-.36.81-.81v-5.84c0-.96.29-1.69.86-2.21.57-.51,1.32-.77,2.24-.77s1.7.25,2.26.75c.56.5.84,1.24.84,2.22v19.08c0,.96-.29,1.69-.86,2.21-.57.51-1.32.77-2.24.77s-1.7-.25-2.26-.75-.84-1.24-.84-2.22v-6.44c0-.45-.36-.81-.81-.81h-9.91c-.45,0-.81.36-.81.81v6.44c0,.96-.29,1.69-.87,2.21s-1.32.77-2.23.77-1.7-.25-2.26-.75-.84-1.24-.84-2.22Z" />
                            <path class="st7"
                                d="M257.54,216.03v-19.04c0-.89.3-1.58.9-2.07.6-.49,1.33-.74,2.2-.74h7.6c2.58,0,4.73.7,6.46,2.09,1.92,1.53,2.87,3.62,2.87,6.27,0,2.48-.8,4.48-2.39,6.02s-3.84,2.31-6.74,2.31h-3.89c-.45,0-.81.36-.81.81v4.34c0,.96-.29,1.7-.86,2.22-.57.52-1.32.77-2.24.77s-1.7-.25-2.26-.75c-.56-.5-.84-1.24-.84-2.22ZM263.74,205.08c0,.45.36.81.81.81h2.51c1.24,0,2.24-.33,2.98-.99.74-.66,1.11-1.45,1.11-2.37,0-1.07-.37-1.9-1.11-2.5-.74-.6-1.73-.89-2.98-.89h-2.51c-.45,0-.81.36-.81.81v5.13Z" />
                            <ellipse class="st1" cx="42.72" cy="206.5" rx="9.92" ry="9.63" />
                            <ellipse class="st1" cx="241.98" cy="206.39" rx="9.92" ry="9.63" />
                        </g>
                    </svg>
                </a>

                <!-- 3. Right Section (Login/Checkout) -->
                <div class="right-section d-flex flex-row align-items-center justify-content-center mx-2">
                    <ul id="loginList" class="navbar-nav gap-3 me-lg-5">
                        <li class="nav-item">
                            <a class="{{#if state.checkout}}active{{/if}} btn btn-primary fw-bold" id="checkout__btn" role="button" href="/checkout">
                                    Checkout <span id="checkout"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary {{#if state.login}}active{{/if}}" id="loginlogout" href="/login" class="nav-link">Login</a>
                        </li>
                        <li id="loginListItem" class="nav-item">
                            <a class="btn btn-secondary {{#if state.userdetails}}active{{/if}}" href="/userdetails" class="nav-link">User Details</a>
                        </li>

                    </ul>
                </div>

                <!-- This allows the menu to wrap to a new line on mobile -->
                <div id="mainNavigation" class="left-section collapse navbar-collapse ms-lg-5 mx-2">
                    <ul class="navbar-nav">
                        <li class="nav-item p-2">
                            <a class="text-center nav-link {{#if state.home}}active{{/if}}" href="/">Home</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="text-center nav-link {{#if state.shop}}active{{/if}}" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="text-center nav-link {{#if state.about}}active{{/if}}" href="/about">About Us</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="text-center nav-link {{#if state.contact}}active{{/if}}" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>




            </div>
            
        </nav>

    </header>