<main class="content">
    <div id="product-catalogue" class="container">
        <div class="card">
            <!-- card-body adds padding for the card -->
            <div class="card-body">
                <!-- card-img-top - sized properly and sticks to the top -->
                <img src="/assets/products/axolotlMain.webp" alt="" class="card-img-top">
                <!-- Can be any h -->
                <h5 class="card-title">
                    Petite Pink & Black Chihuahua Beaded Keychain
                </h5>
                <p class="card-text">
                    Meet your new best friend! This exquisitely detailed chihuahua keychain is handcrafted from hundreds
                    of high-quality rocaille beads, capturing the breed's iconic perky ears and expressive eyes. Woven
                    using a sturdy amigurumi technique, this durable 3D charm is perfect for adding a touch of
                    personality to your keys, purse, or backpack. A wonderful gift for any dog lover who appreciates
                    fine craftsmanship and unique design.
                </p>

            </div>
        </div>
    </div>
    <h2>
        More coming soon...
    </h2>
</main>
<script type="text/javascript" src="/code/js/shop.js"></script>